.color-palette{
  align-self: center;
  display: flex;
  flex-direction: row;
  min-height: 100px;
}

.color-strip{
  max-height: 125px;
  width: 20px;
}

@media(min-width:650px){
  .color-strip{
    height: auto;
    width: 35px;
  }
}