.color-palette{
  align-self: center;
  display: flex;
  flex-direction: row;
  height: 100px;
}

.color-strip{
  width: 20px;
}

@media(min-width:650px){
  .color-palette{
    height: 125px;
  }

  .color-strip{
    width: 35px;
  }
}