.website-title{
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: 2.5px;
}

.dashboard header {
  margin: 25px 0px;
}

.website-title strong{
  font-weight: 400;
}

@media(min-width:1350px){
  .card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .website-title{
    font-weight: 300;
    font-size: 6rem;
  }

  .time-updated{
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px 100px;
  }
}